.moo-accredit
  clear: both
  margin: -5px
  text-align: center

  ul
    display: inline-block
    margin: 0 auto
    +clearfix

  span
    +sr-only

  li
    width: 50%
    float: left
    padding: 5px
    max-width: 150px

    a
      display: block

  img
    display: block
    padding: 5px
    background-color: #ffffff
