$icomoon-font-path: "fonts" !default;

$moo-i-houzz-color-path1: "\e901";
$moo-i-houzz-color-path2: "\e902";
$moo-i-houzz: "\e900";
$moo-i-twitter: "\f099";
$moo-i-facebook: "\f09a";
$moo-i-google-plus: "\f0d5";
$moo-i-linkedin: "\f0e1";
$moo-i-youtube: "\f167";
$moo-i-instagram: "\f16d";
$moo-i-pinterest: "\f231";

